{% extends "layout.html" %}
{% block body %}
<body class="yui3-skin-sam">
{% autoescape False %}
   <form name="showReport" action="/report" method="POST">
    <ul class="entries">
       <center>
         Relatorio McAfee de Repasse Recorrente - {{ mes }}/{{ ano }} - {{ report }} <br/>
         <a href="/download" > baixar o relatorio em .csv</a> - <input type="submit" name="chooseTemplate" value="Datatable - Sort" />
       </center>
       <br/>
       <div id="dtable"></div>
       <br/>
       <center>
	  Total de registros: {{ counter }}
       </center>
       <br/>
       <input type="hidden" name="mes"  value="{{ mes }}"  />
       <input type="hidden" name="ano"  value="{{ ano }}"  />
       <input type="hidden" name="pais" value="{{ pais }}" />
       <input type="hidden" name="paginator" value="show_entries5.html" />
       <input type="hidden" name="relatorioMcAfee" value="relatorioMcAfee" />
    </ul>
   </form> 
<script type="text/javascript">

YUI().use('datatable', 'datatable-paginator', 'datatype-number', function (Y) {

    var table = new Y.DataTable({
        columns: [
             {key:"CCID", label:"ccid"},
             {key:"PartnerID", label:"Partner ID"},
             {key:"EmailDaLicensa", label:"Email da Licensa"},
             {key:"SKU", label:"Sku"},
             {key:"Licensa", label:"Licensa"},
             {key:"DataDeAtivacao", label:"Data de Ativacao"},
             {key:"Pacote", label:"Pacote"}
        ],
        data:[ 
		{{ entries }}
	],
        rowsPerPage: 10,
        paginatorLocation: ['header', 'footer']
    });
    table.render('#dtable');
});

</script>
{% endautoescape %}
</body>
{% endblock %}
