{% extends "layout.html" %}
 {% block body %}
    <form action="/mcafee_report" method="post" class="add-entry" >
      <dl>
        <dt>
	  <dd><dd><input type="submit" name="relatorioMcAfee" value="Relatorio McAfee Repase Recorrente" />
	</dt>
      </dl>
      <dl>
        <dt> 	
          <dd><dd><input type="submit" name="relatorioAutomatizadoOiEmpresas" value="Relatorio Automatizado - Oi Empresas" />
        </dt>    
      </dl>
      <dl>
        <dt>        
          <dd><dd><input type="submit" name="relatorioNetAssist" value="Relatorio Net Assist - Tss Help Desk" />
        </dt>
      </dl> 
    </form>
{% endblock %}

